[project]
	description = Lyx template for writing Theses at the Open University
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Prof. Lorenz (dhlorenz)
[access "refs/for/refs/*"]
	read = group user/Prof. Lorenz (dhlorenz)
	push = group user/Prof. Lorenz (dhlorenz)
	label-Code-Review = -2..+2 group user/Prof. Lorenz (dhlorenz)
	label-Verified = -1..+1 group user/Prof. Lorenz (dhlorenz)
	rebase = group user/Prof. Lorenz (dhlorenz)
	removeReviewer = group user/Prof. Lorenz (dhlorenz)
	submit = group user/Prof. Lorenz (dhlorenz)
[access "refs/heads/*"]
	read = group user/Prof. Lorenz (dhlorenz)
	create = group user/Prof. Lorenz (dhlorenz)
	push = +force group user/Prof. Lorenz (dhlorenz)
	pushMerge = group user/Prof. Lorenz (dhlorenz)
[access "refs/tags/*"]
	push = +force group user/Prof. Lorenz (dhlorenz)
	pushTag = group user/Prof. Lorenz (dhlorenz)
	pushSignedTag = group user/Prof. Lorenz (dhlorenz)
